# general configuration
url: http://junwei.co
baseurl: ''

# general configuration
general:
  # an avatar or logo (optional)
  logo: "/images/avatar-crx.jpg"
  # author will appear under the avatar (optional)
  author: "Junwei WANG"
  # tagline will appear under the title (optional)
  tagline: "Ph.D. Student"
  orgnization: "CryptoExperts"
  orgnization_link: "http://www.cryptoexperts.com"
  # if include_content is true, the contents of the content.html include will be
  # added right above the generated item list, if present
  include_content: true
  # if include_analytics is true, the content of the analytics.html include will
  # be added at the end of the <head> section. You can add your Google Analytics
  # Tracking Code to that file.
  include_analytics: true

# Dependencies
markdown: kramdown
highlighter: rouge
toc_levels: 3..5

# More http://kramdown.gettalong.org/quickref.html
# Options http://kramdown.gettalong.org/options.html
kramdown:
  input:          GFM
  # https://github.com/jekyll/jekyll/pull/4090
  syntax_highlighter: rouge

  # Rouge Highlighter in Kramdown http://kramdown.gettalong.org/syntax_highlighter/rouge.html
  # span, block element options fall back to global
  syntax_highlighter_opts:
    # Rouge Options https://github.com/jneen/rouge#full-options
    css_class: 'highlight'
    #line_numbers: true # bad idea, spans don't need linenos and would inherit this option
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

# Permalinks
permalink: none

# include diretory
#include:              ["_posts"]
