---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.general.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.general.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.general.author %}
        <div class="author-container"><h1>{{ site.general.author }}</h1></div>
        {% endif %}

        {% if site.general.tagline %}
        <div class="tagline-container"><p>
            {{ site.general.tagline }}
            {% if site.general.orgnization %}
                </br> at
                {% if site.general.orgnization_link %}
                    <a href="{{ site.general.orgnization_link }}">
                {% endif %}
                {{ site.general.orgnization }}
                {% if site.general.orgnization_link %}
                    </a>
                {% endif %}
            {% endif %}
        </p></div>
        {% endif %}


    </header>
    <main>
      {% if site.general.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
