<h2 id="contact">About Me</h2>
<p>I am a Ph.D student at <a href="https://www.cryptoexperts.com">CryptoExperts</a>
  under the supervision of <a href="http://www.jscoron.fr/">Jean-Sébastien CORON</a>,
  <a href="http://www.math.univ-paris13.fr/~mesnager/">Sihem MESNAGER</a>,
  <a href="http://dblp.uni-trier.de/pers/hd/p/Paillier:Pascal">Pascal PAILLIER</a>,
  and <a href="http://www.matthieurivain.com/">Matthieu RIVAIN</a>.

  I am also an <a href="http://www.ecrypt.eu.org/net/">ECRYPT-NET</a> fellow
  and receive funding from the European Union’s
  <a href="https://ec.europa.eu/programmes/horizon2020/">Horizon 2020</a> research
  and innovation programme under the Marie Skłodowska-Curie grant agreement No. 643161.</p>

<p>My research interest is white-box cryptography.</p>
<p>My curriculum vitae can be found <a href="./pdfs/cv.pdf">here</a>.</p>

  <h2 id="contact">Contact</h2>
<p>
  <div>41 Boulevard des Capucines</div>
  <div>75002, Paris, France</div>
  <div>junwei.wang@cryptoexperts.com</div>
</p>

<h2 id='publications'>Publications</h2>
<ol class='publications' reversed>
{% for pub in site.data.publications reversed %}
  <li>
    {% if pub.preprint %}
    <em>(preprint)</em>
    {% endif %}
    <strong>{{ pub.title }}{% if pub.subtitle %}: <em>{{ pub.subtitle }}</em>    {% endif %}</strong>
    {% if pub.links %}
    &nbsp;[
    {% for link in pub.links %}
    <a href="{{ link.link }}" target="_blank">
    {% if link.type == "eprint" %}
    <span class="fa fa-link"></span>
    {% endif %}
    {% if link.type == "proceeding" %}
    <span class="ai ai-{{ link.publisher }} ai"></span>
    {% endif %}
    {% if link.type == "paper" %}
    <span class="fa fa-file-pdf-o"></span>
    {% endif %}
    {% if link.type == "code" %}
    <span class="fa fa-code"></span>
    {% endif %}
    </a>
    {% endfor %}
    ]
    {% endif %}
    <br>
    with
    {% for name in pub.coauthor %}
    {% assign author = site.data.people[name] %}
    <a href="{{ author.url }}" target="_blank">{{ name }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
    <br>
    {% if pub.venue %}
    <em><a href="{{ pub.venue.url }}">{{ pub.venue.name }}</a></em>
    {% endif %}
  </li>
  {% endfor %}
</ol>


<h2 id='talks'>Talks</h2>
<ol class='publications' reversed>
  {% for talk in site.data.talks reversed %}
  <li>
    <strong>{{ talk.title }}
      {% if talk.subtitle %}
      <em>{{ talk.subtitle }}</em>
      {% endif %}
    </strong>
    {% if talk.links %}
    &nbsp;[
    {% for link in talk.links %}
    <a href="{{ link.link }}" target="_blank">
    {% if link.type == "official" %}
      <span class="fa fa-link"></span>
    {% endif %}
    {% if link.type == "slides" %}
    <span class="fa fa-slideshare"></span>
    {% endif %}
    {% if link.type == "video" %}
    <span class="fa fa-video-camera"></span>
    {% endif %}
    </a>
    {% endfor %}
    ]
    {% endif %}
    <br>
    <em><a href="{{ talk.venue.url }}" target="_blank">{{ talk.venue.name }}</a></em>{% if talk.venue.remark %} ({{ talk.venue.remark }}){% endif %}, {{ talk.date }}, {{ talk.venue.city }}
  </li>
  {% endfor %}
</ol>

<hr />
