<h2>About Me</h2>
<p>I am senior software engineer at Baidu, the biggest search engine for Chinese.</p>

<h2>Publications</h2>
<ol>
  <li>
    <strong>Higher-order masking in practice: <i>A vector implementation of masked AES for ARM NEON</i></strong>
    <br>
    Junwei Wang, Praveen Kumar Vadnala, Johann Großschädl, Qiuliang Xu
    <br>
    <em>CT-RSA 2015</em>&nbsp;
    <a href="https://github.com/junwei-wang/AES-ARM-NEON">github</a>&nbsp;
  </li>
</ol>
<h2>Blogs</h2>


<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/junwei-wang">Github</a>
  </li>
</ul>
