<h2 id="contact">About Me</h2>
<p>I am a Ph.D student at <a href="https://www.cryptoexperts.com">CryptoExperts</a>
  under the supervision of <a href="http://www.jscoron.fr/">Jean-Sébastien CORON</a>,
  <a href="http://www.math.univ-paris13.fr/~mesnager/">Sihem MESNAGER</a>,
  <a href="http://dblp.uni-trier.de/pers/hd/p/Paillier:Pascal">Pascal PAILLIER</a>,
  and <a href="http://www.matthieurivain.com/">Matthieu RIVAIN</a>.

  I am also an <a href="http://www.ecrypt.eu.org/net/">ECRYPT-NET</a> fellow
  and receive funding from the European Union’s
  <a href="https://ec.europa.eu/programmes/horizon2020/">Horizon 2020</a> research
  and innovation programme under the Marie Skłodowska-Curie grant agreement No. 643161.</p>

  <p>My research interest is white-box cryptography.</p>

  My curriculum vitae can be found <a href="./pdfs/cv.pdf">here</a>.

<h2 id="contact">Contact</h2>
<p>
  <div>41 Boulevard des Capucines</div>
  <div>75002, Paris, France</div>
  <div>junwei.wang@cryptoexperts.com</div>
</p>

<h2 id='publications'>Publications</h2>
<ol>
  <li>
    <strong>Higher-order masking in practice: <em>A vector implementation of masked AES for ARM NEON</em></strong>
    &nbsp; [<a href="http://link.springer.com/chapter/10.1007/978-3-319-16715-2_10" target="_blank">
      <span class="fa fa-link"></span> </a> ,
    <a href="pdfs/papers/armneon.pdf" target="_blank"> <span class="fa fa-file-pdf-o"></span> </a>,
    <a href="https://github.com/junwei-wang/AES-ARM-NEON" target="_blank"> <span class="fa fa-code"></span> </a>]
    <br>
    with Praveen Kumar Vadnala, Johann Großschädl, Qiuliang Xu
    <br>
    <em><a href="http://users.ics.aalto.fi/knyberg/cfp.html">CT-RSA 2015</a></em>
  </li>
</ol>

<h2 id='talks'>Talks</h2>
<ol>
  <li>
    <strong> Reveal Secrets in Adoring Poitras - <em>A generic attack on white-box cryptography</em></strong>
    &nbsp;
    [<a href="pdfs/slides/2017-ecrypt-summer-school.pdf" target="_blank"> <span class="fa fa-file-pdf-o"></span> </a>]
    <br>
    <em><a href="https://hyperelliptic.org/tanja/ECRYPT-NET/">ECRYPT-NET School on Correct and Secure Implementation</a></em>
    <br>11 October 2017, Crete
  </li>
  <li>
    <strong> Reveal Secrets in Adoring Poitras - <em>A victory of reverse engineering and cryptanalysis over challenge 777</em></strong>
    &nbsp;[<a href="https://ches.2017.rump.cr.yp.to/" target="_blank"> <span class="fa fa-link"></span> </a>,
    <a href="pdfs/slides/ches-2017.pdf" target="_blank"> <span class="fa fa-file-pdf-o"></span> </a>]
    <br>
    <em><a href="https://ches.iacr.org/2017/">CHES 2017</a></em>&nbsp; Rump Session, 26 September 2017, Taipei
  </li>
  <li>
    <strong>Higher-order masking in practice: <em>A vector implementation of masked AES for ARM NEON</em></strong>
    &nbsp; [<a href="https://www.rsaconference.com/events/us15/agenda/sessions/1760/secure-and-efficient-implementation-of-aes-based" target="_blank">
      <span class="fa fa-link"></span> </a>]
    <br>
    <em><a href="http://users.ics.aalto.fi/knyberg/cfp.html">CT-RSA 2015</a></em>, 22 April 2015, San Francisco
  </li>
</ol>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://github.com/junwei-wang"> <span class="fa fa-github main-list-item-icon"></span> </a>
  </li>
  <li class="main-list-item">
    <a href="https://twitter.com/junwei_wang"> <span class="fa fa-twitter main-list-item-icon"></span> </a>
  </li>
  <li class="main-list-item">
    <a href="https://www.linkedin.com/in/junweiwang/"> <span class="fa fa-linkedin main-list-item-icon"></span> </a>
  </li>
</ul>
