<header>
  {% if site.general.logo %}
  <div class="logo-container">
    <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.general.logo }}')"></a>
  </div>
  {% endif %}

  {% if site.general.author %}
  <div class="author-container">{{ site.general.author }}<br/>王军委</div>
  {% endif %}

  {% if site.general.tagline %}
  <div class="tagline-container"><p>
      {{ site.general.tagline }}
      {% if site.general.orgnization %}
      <br> at
      {% if site.general.orgnization_link %}
      <a href="{{ site.general.orgnization_link }}">
        {% endif %}
        {{ site.general.orgnization }}
        {% if site.general.orgnization_link %}
      </a>
      {% endif %}
      {% endif %}
    </p>
    <ul style="list-style: none;">
      {% if page.id == "home" %}
      {% else %}
      <li><a href="/#about">ABOUT</a></li>
      <li><a href="/#contact">CONTACT</a></li>
      <li><a href="/guanzhi">观止</a></li>
      <li><a href="/#publications">PUBLICATIONS</a></li>
      <li><a href="/#talks">TALKS</a></li>
      {% endif %}
    </ul>
  </div>
  <div>
    <ul class="fa-ul main-list">
      <li class="main-list-item">
	<a href="https://github.com/junwei-wang"> <span class="fa fa-github main-list-item-icon"></span> </a>
      </li>
      <li class="main-list-item">
	<a href="https://twitter.com/junwei_wang"> <span class="fa fa-twitter main-list-item-icon"></span> </a>
      </li>
      <li class="main-list-item">
	<a href="https://www.linkedin.com/in/junweiwang/"> <span class="fa fa-linkedin main-list-item-icon"></span> </a>
      </li>
    </ul>
  </div>
  {% endif %}

</header>
