<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{page.title}} - {{ site.general.author }} &#8226; {{ site.general.tagline | strip_html }}</title>

  <link rel="apple-touch-icon" href="{{ site.general.logo }}"/>
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.url }}/favicon.ico" />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/monokai.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/academicons.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta name="author" content="{{ site.general.author }}">
  <meta name="description" content="{{ site.general.tagline }}"/>

  <meta property="og:title" content="{{ site.general.tagline }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.general.logo }}"/>
  <meta property="og:description" content="{{ site.general.description }}"/>
  <meta property="og:site_name" content="{{ site.general.tagline }}">

  {% if site.general.include_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
