---
---

$text-color: #333232;
$heading-color: #111;
$anchor-text-color: #8080ff;
$background-color: #FFFFFF;

body {
    font-family: 'Open Sans', KaiTi, SimKai, STKaiti, "华文楷体", "楷体", sans-serif;
    font-size: 1.1em;
    color: $text-color;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans',SimHei,STHeiti,serif;
    font-weight: bold;
    font-style: normal;
    color: $heading-color;
    text-align: center;
}


main {
    padding: 0 20px;
    width: 72%;
    margin-left: 28%;
    padding: 0;
}

header {
    padding: 0 20px;
    position: fixed;
    float: left;
    width: 20%;
    taxt-aligh: right;
}

/*** wrapper div for both header and main ***/
.wrapper {
    margin-top: 8%;
    margin-right: 15%;
    margin-left: 15%;
    // width: 1024px;
}

.content {
    padding: 0 20px;
}

.author {
    font-family: 'Share Tech Mono',SimKai, STKai,serif;
    color: brown;
    text-align: center;
}
em {
    color: red;
    // font-weight: bold;
    font-style: normal;
}
.publications em {
    color: black;
    font-style:italic;
}


p {
    // text-indent: 2em; /*首行缩进*/
}
.remark {
    color: gray;
}


/*** anchor tags ***/
a:link,
a:visited,
a:hover,
a:active {
    color: $anchor-text-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*** main content list ***/
.main-list-item {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.8em 0;
}

/* override the left margin added by font awesome for the main content list,
since it must be aligned with the content */
.fa-ul.main-list {
    list-style: none;
    margin-left: 0;
    text-align: center;
}

.fa-ul.main-list li {
    display:inline;
}

/* list icons */
.main-list-item-icon {
    width: 20px;
    color: $anchor-text-color;
}

/*** logo ***/
.logo-container {
    text-align: center;
}

.logo {
    width: 130px;
    height: 130px;
    display: inline-block;
    background-size: cover;
    border-radius: 30%;
    -moz-border-radius: 50%;
    // border: 2px solid $background-color;
    box-shadow: 0 0 0 2px $anchor-text-color;
}

/*** author ***/
.author-container {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0;
    text-align: center;
}


/*** tagline ***/
.tagline-container p {
    text-indent: 0;
    font-size: 1.0pem;
    text-align: center;
    margin-bottom: 2em;
}

/******/
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
}

/*** footer ***/
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 20px;
}

.poweredby {
    font-family: "Arial Narrow", Arial;
    font-size: 0.6em;
    line-height: 0.6em;
    padding: 0 5px;
}

/*** media queries ***/
@media (max-width: 640px) {
    main {
	margin: 0;
    }
}

/* All other devices (768px and up) */
@media (max-width: 1024px) {
    .wrapper {
	width:auto;
	margin: 2% 0%;
    }
    header{
	float:none;
	position:static;
	width:auto;
	padding-bottom: 10px;
    }
    main {
	margin: 2%;
	width: auto;
    }
}
