<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    {% if page.type != 'index' %}
    <title>{{ page.title }} - Topics in Cryptography</title>
    {% else %}
    <title>{{ page.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="/assets/cayman/normalize.css">
    <link rel="stylesheet" href="/assets/cayman/cayman.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">
	{% if page.type != 'index' %}Topic {{ page.topic_id }} : {% endif %}
	{{ page.title }}
      </h1>
      {% if page.type != 'index' %}
      <h2 class="project-tagline">100 Topics in Cryptography</h2>
      {% endif %}
    </section>

    <section class="main-content">
      {{ content }}
    </section>
  </body>

  {% include analytics.html %}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [ ['$$','$$']],
        processEscapes: true
      },
    TeX: {
      Macros: {
        msk: "\\sf{msk}",
        mpk: "\\sf{mpk}",
        sk: "\\sf{sk}",
        Setup: "\\sf{Setup}",
        Enc: "\\sf{Enc}",
        KeyDer: "\\sf{KeyDer}",
        Dec: "\\sf{Dec}"
      }
    }
    });
  </script>
</html>
